body {
  background-color: #1d1d1f;
  font-size: 17px;
  line-height: 1.47059;
  font-weight: 400;
  letter-spacing: -.022em;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #f1f1f1;
  font-style: normal;
}
h1{
    text-align: center;
}
.login {
    background-color: white;
    margin: auto;
    width: 900px;
    padding: 10px;
    display: flex;
}

form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text],
input[type=password] {
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-position: 3%;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    color: rgb(0, 0, 0);
    font-size: 14px;
    width: 100%;
    height: 50px;
    margin: 8px 0;
    border-radius: 24px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=text] {
    background-image: url('./user.svg');
}

input[type=password] {
    background-image: url('./pass.svg');
}

input[type="checkbox"] {
    color: red;

}

.lbl {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    color: #2196F3;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.lbl input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.lbl:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.lbl input:checked~.checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.lbl input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.lbl .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Set a style for all buttons */
button {
    margin: auto;
    width: 50%;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: #13517a;
    border-radius: 24px;
    color: white;
    font-size: 24PX;
    border: none;
    cursor: pointer;
    width: 40%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.incorrect {
    color: red;
    font-size: 14px;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;

}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    background: #f1f1f1; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f1f1f1, #ffffff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f1f1f1, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 16px;
    width: 450px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.left-image{
    width: 450px;

}
.left-image img{
    width: 450px;
    height: 100%;
}
.img-login {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}