body {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding-top: 82px;
    padding-bottom: 0rem; 
    --nav-height: 40px;
    --border-blck: 2px solid rgb(3, 3, 3);
    --box-sh1: 0 9px #999;
    --box-sh2: 0 5px #666;
}
#animacion-carga{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
}

#carga{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px; /* Negative half of height. */
  margin-left: -250px; 
}

.nav input[type=text] {
    background-image: url('buscar.svg');
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-position: 4%;
    padding-left: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: transparent;
    border-radius: 24px;
    color: rgb(0, 0, 0);
    font-size: 14px;
    width: 150px;
    border: black solid 1px;


}



.flex {
    display: flex;
    gap: 3rem;
}

/* Navegacion */
.primary-navigation {
    font-size: 20px;
    color: rgb(0, 0, 0);
    z-index: 2;
    list-style: none;
    padding: 1em;
    margin: 0;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.95);
}

/* Si el navegador lo soporta */


.primary-navigation a,
a:hover,
a:visited,
a:active {
    text-decoration: none;
    color: inherit;
}

[aria-hidden=true] {
    display: none;
}

.icon {
    width: 90px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center;
}

.cart {
    background-image: url("./cart.svg");
}

.div-productos {
    justify-content: center;
    width: 80%;
    align-items: center;
    display: flex;
    margin: auto;
    min-height: 79vh; 

}

.div-ver-producto {
    justify-content: center;
    width: 80%;
    display: flex;
    margin: auto;
    min-height: 79vh; 
}

/* main */

.productos {
    justify-items: center;
    gap: calc(10vw - 120px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.hide {
    display: none;
}

/* producto */
.card {
    border-radius: 8px;
    border: var(--border-blck);
    height: 100%;
    align-items: center;
    max-width: 450px;

}

.card:hover {
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.card-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.div-img-card-u {
    overflow: hidden;
}

.img-card {
    border-radius: 8px;
    width: 450px;
    height: 600px;
    display: inline-block;
    justify-content: center;

}

.img-card:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition-duration: 1s;
}


.img-card-u {
    margin: auto;
    width: 450px;
    height: 600px;
    display: inline-block;
    justify-content: center;
    background-attachment: fixed;
}


.img-card-s {
    width: 30px;
    height: 40px;

}

.card-title {
    text-align: center;
    color: #292929;
    font-size: 44px;
    margin-top: auto;
    margin-bottom: auto;
}

.card-text {
    text-align: center;
    color: #857100;
    font-size: 24px;
    margin-top: auto;
}

.card-u {
    width: 100%;
    display: flex;
    border: var(--border-blck);
}

.descrip {
    text-align: justify;
    color: #292929;
    font-size: 16px;
    margin-top: auto;
    margin-bottom: auto;
    margin: 3%;
}

.card-body-u {
    width: 100%;
    height: 100%;
  
    margin: auto;
}

.row {
    justify-content: right;
    width: 80%;
    margin: auto;
    gap: .2em;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

/* tabla del carrito */
table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

table th,
table td {
    padding: .625em;
    text-align: center;

}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

@media screen and (max-width: 58em) {
    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}

/* botones */
.btn {
    background-repeat: no-repeat;
    padding: 12px 28px;
    border: none;
    font-size: 16px;
    background-color: white;
    color: black;
    border: 2px solid #881400;
    border-radius: 4px;
    box-shadow: var(--box-sh1)
}

.btn {
    transition-duration: 0.4s;
}

.btn:hover {
    background-color: #881400;
    color: white;
}

.btn:active {
    background-color: #4b0b00;
    border: #4b0b00;
    box-shadow: var(--box-sh2);
    transform: translateY(4px);
}

.btn-borrar {
    background-image: url(./delete.svg);
    background-repeat: no-repeat;
    padding: 12px 12px;
    border: none;
    background-color: white;
    color: black;
    border: 2px solid #000000;
    border-radius: 4px;
    transition-duration: 0.4s;
}

.btn-borrar:hover {
    background-color: #881400;
}

.btn-agregar {
    background-image: url(./agregar.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    padding: 12px 12px;
    border: none;
    background-color: white;
    color: black;
    border: 2px solid #000000;
    border-radius: 4px;
    transition-duration: 0.4s;
}

.btn-agregar:hover {
    background-color: #004aaa;

}


.btn-restar {
    background-image: url(./restar.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    padding: 12px 12px;
    border: none;
    background-color: white;
    color: black;
    border: 2px solid #000000;
    border-radius: 4px;
    transition-duration: 0.4s;
}

.btn-restar:hover {
    background-color: #ffed4f;

}

.btn-pagar {
    color: rgb(0, 0, 0);
    padding: 12px 28px;
    border: none;
    font-size: 16px;
    background-color: #ffffff;
    border: 2px solid #004aaa;
    border-radius: 4px;
    transition-duration: 0.4s;
    box-shadow: var(--box-sh1)
}

.btn-pagar:hover {
    color: #ffffff;
    background-color: #004aaa;
}

.btn-pagar:active {
    background-color: #001f47;
    border: #8b8c8d;
    box-shadow: var(--box-sh2);
    transform: translateY(4px);
}

[aria-expanded=true] {
    display: none;
}

.btn-add {
    background-image: url(./addCart.svg);
    background-color: #fefefe;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    bottom: 10%;
    border: var(--border-blck);
    box-shadow: var(--box-sh1)
}

.btn-add:hover {
    background-color: #f7f7f7;
}

.btn-add:active {
    background-color: #c2c2c2;
    box-shadow: var(--box-sh2);
    transform: translateY(4px);
}

.btn-back {

    background-image: url(./back.svg);
    background-color: #fefefe;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 5%;
    margin-left: 45%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: var(--border-blck);
    box-shadow: var(--box-sh1)
}

.btn-back:hover {
    background-color: #dfdfdf;

}

.btn-back:active {
    background-color: #666e6c;
    box-shadow: var(--box-sh2);
    transform: translateY(4px);
}


/* navegacion el cualquier resolucion */
@media(min-width:90em) {
    /* 1440px */

    .primary-navigation {
        height: var(--nav-height);
        position: fixed;
        top: 0;
        left: 0;
        width: 98%;
    }

    .nav--hidden {
        transform: translateY(calc(-3 * var(--nav-height)));
    }
    .nav input[type=text] {
    
        width: 300px;

    }

}

@media(min-width:58em)and (max-width:90em) {

    /* 928-1440px */
    .productos {
        gap: calc(10vw - 80px);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }



    .primary-navigation {
        height: var(--nav-height);
        position: fixed;
        top: 0;
        left: 0;
        width: 98%;
    }

    .nav--hidden {
        transform: translateY(calc(-3 * var(--nav-height)));
    }
    .nav input[type=text] {
    
        width: 150px;

    }
}

@media(max-width:58em) {
    /* -928px */

    .primary-navigation {
        position: fixed;
        inset: 0 0 0 30%;
        flex-direction: column;
        background: #f9f9f9;
        backdrop-filter: blur(1rem);
        padding: min(30vh, 10rem) 2em;
        transform: translateX(100%);
        justify-content: start;

    }

    .card-u {
        display: grid;
    }

    .mobile-cart {
        display: block;
        position: fixed;
        justify-self: start;
        z-index: 9999;
        background-color: transparent;
        background-image: url("cart.svg");
        background-repeat: no-repeat;
        border: 0;
        top: 1rem;
        left: 1rem;
        padding: min(20vh, 2rem) 2em;
    }

    .mobile-cart:hover {
        cursor: pointer;
    }

    .productos {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: calc(10vw - 20px);
    }

    .mobile-nav-toggle {
        display: block;
        position: fixed;
        justify-self: start;
        z-index: 1000;
        background-color: transparent;
        background-image: url("menu.svg");
        background-repeat: no-repeat;
        border: 0;
        width: 3rem;
        aspect-ratio: 1;
        top: 1rem;
        right: 2rem;
    }

    .mobile-nav-toggle:hover {
        cursor: pointer;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0%)
    }

    .modal {
        margin-top: 10%;
    }

    .modal-content {
        margin-left: 5%;
        margin-right: 5%;
        width: 80%;
    }

    .menus {
        flex-direction: column;

    }



    #myUL {
        /* Remove default list styling */
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    #myUL li a {
        border: 1px solid #ddd;
        /* Add a border to all links */
        margin-top: -1px;
        /* Prevent double borders */
        background-color: #f6f6f6;
        /* Grey background color */
        padding: 12px;
        /* Add some padding */
        text-decoration: none;
        /* Remove default text underline */
        font-size: 18px;
        /* Increase the font-size */
        color: black;
        /* Add a black text color */
        display: block;
        /* Make it into a block element to fill the whole list */
    }

    #myUL li a:hover:not(.header) {
        background-color: #eee;
        /* Add a hover effect to all links, except for headers */
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url("close.svg");
    }
}

/* dialogo del carrito */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;

}

.modal-content {
    box-shadow: var(--box-sh2);
    border-radius: 8px;
    background-color: #fefefe;
    padding-top: 60%;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

.close {
    margin-left: 3%;
    padding-left: 9px;
    padding-right: 9px;
    background-color: transparent;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    border: 2px solid #aaa;
    border-radius: 50%;
}

.close:hover,
.close:focus {
    color: rgb(255, 255, 255);
    background-color: #860606;
    border-color: #800101;
    text-decoration: none;
    cursor: pointer;
}


@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,800);
.snip {
  font-family: 'Roboto', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 200;
  color:#292929
}
.snip * {
  box-sizing: border-box;
}
.snip li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 0.1em;
  padding: 10;
}
.snip a {
  padding: 0.5em 0;
  position: relative;
  letter-spacing: 1px;
  text-decoration: none;
}
.snip a[data-hover]:before,
.snip a[data-hover]:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip a[data-hover]:before {
  bottom: 0;
  display: block;
  height: 3px;
  width: 0%;
  content: "";
  background-color: #111111;
}
.snip a[data-hover]:after {
  left: 0;
  top: 0;
  padding: 0.5em 0;
  position: absolute;
  content: attr(data-hover);
  color: #111111;
  white-space: nowrap;
  max-width: 0%;
  overflow: hidden;
}
.snip a[data-hover]:hover:before,
.snip .current a:before {
  opacity: 1;
  width: 100%;
}
.snip a[data-hover]:hover:after,
.snip .current a:after {
  max-width: 100%;
}

.dropdown-content {
  display: none;
  margin-top: 10px;
  text-align: justify;
  border-radius: 8px;
  color: black;
  background-color: #f9f9f9;
  position: absolute;
  width: 200px;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}

.dropdown-content-i  {
    display: none;
  margin-top: 10px;
  border-radius: 8px;
  background-color: #f9f9f9;
  position: absolute;
  width: 70px;
  height: 70px;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
.dropdown-content-i img {
    width: 70px;
    height: 70px;
    margin: auto;
   
    padding: 10px;
}
.dropdown:hover .dropdown-content-i {
    display: block;
  }
  .dropdown-content-i:hover {
    background-color: #111111;
  }

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  color: #000000;
  padding: 10px;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: #FFFFFF;
  background-color: #111111;
}
/* footer */

.footer {
    bottom: 0;
    width: 100%;
    background: #121212;  /* fallback for old browsers */
    color: #f9f9f9;
  }

  .footer p {
    font-weight: 400;
    font-size: 14px;
    color: #B8B8B8;
    letter-spacing: 0.5px;
    margin-top: 20px;
  }
.social-icon img{
    width: 50px;
    height: 50px;
}

.logo img{
    margin:10px;
    width: 100px;
    height: 80px;
}

  .align-items-center {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .derechos{
    display: flex;  
    gap: 10px 20px; 
    justify-content: space-between;
    font-size: small;
    text-align: end;
  }
